.game {
  display: flex;
  flex-direction: column;
  height: 835px;
  
  /* border: 2px solid black; */
  /* background-color: grey; */
}

.container {
  /* border: 2px solid black;
  background-color: blueviolet; */
  margin: 1rem auto;
}

.game-status {
  display: block;
  font-size: 2rem;
  margin-bottom: 0.5rem;

  /* border: 2px solid black;
  background-color: goldenrod; */
}

.game-board {
  width: fit-content;
  border: 2px solid black;
  margin-bottom: 0.5rem;
  /* background-color: red; */
}

.game-info {
  height: 32rem;
  /* border: 2px solid black; */
  /* background-color: aquamarine; */
}

.move-record button {
  margin-bottom: 1rem;
  height: 2rem;
  width: 10rem;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 3rem;
  font-weight: bold;
  line-height: 34px;
  height: 5rem;
  width: 5rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}
